* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-font-color: #212427;
  --opaque-white: #FFFFFFC7;
  --opaque-black: #212427C7;
  --site-bg-color: #33C8CC;
  --header-bg-color: #F9FAFB65;
  --footer-bg-color: #03071265;
  --searchbar-bg-color: #EEF2F3C7;
  --submit-btn-color: #CA989D;
}

body {
  background-color: var(--site-bg-color);
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}



body * {
  font-family: 'Merriweather', serif;
  color: var(--dark-font-color);
}

button {
  cursor: pointer;
}



header,
footer {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

header {
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--opaque-black);
  padding-bottom: 0.8rem;
}

footer {
  justify-content: center;
  background-color: var(--footer-bg-color);
  border-top: 1px solid var(--opaque-black);
  font-weight: normal;
}



#logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#logo img {
  height: 40px;
  width: 40px;
}

header form {
  position: relative;
  width: 15rem;
}

header form input,
header form button {
  border: 1px solid var(--opaque-white);
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
  padding: 0.33rem;
}

header form input[type="search"] {
  background-color: #EEF2F3;
  width: 100%;
  z-index: 1;
  position: relative;
  border-radius: 0.5rem;
  transition: all 0.25s cubic-bezier(0, 0, 0.5, 1.5);
  transition-property: width, border-radius;
}

header form input:focus-visible {
  outline: none;
  border: 1px solid #F0F0F0;
}

header form input:not(:placeholder-shown) {
  width: calc(100% - 3.33rem);
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
}

header form input:not(:placeholder-shown)+button {
  display: block;
}

header form button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--submit-btn-color);
  color: var(--opaque-white);
  font-weight: bold;
}

header form label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}



main {
  background-image: url(./assets/pokeball-blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#display {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 100%;
  min-height: 800px;
  border: 1px solid var(--opaque-black);
  border-radius: 0.33rem;
  background-color: var(--opaque-black);
}

#mainPanel {
  display: grid;
}

#mainPanel .gif-cell {
  height: 100%;
  filter: blur(4px) grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
}

#mainPanel .gif-cell:nth-of-type(even) {
  filter: grayscale(100%);
}

#mainPanel .gif-cell:hover {
  cursor: pointer;
  filter: none;
}

#siteEntryMsg,
#siteEntryContext {
  text-align: center;
}

#siteEntryContext {
  display: none;
  font-weight: bold;
}

#sidePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF30;
  border-bottom: 1px solid var(--opaque-white);
}

#pokeContext {
  display: none;
  text-align: center;
}



footer h3 {
  font-weight: normal;
  font-style: italic;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}






@media only screen and (min-width: 320px) {
  header form {
    width: 20rem;
  }
}

@media only screen and (min-width: 600px) {
  header {
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 0.25rem;
  }

  header form {
    width: 25rem;
  }

  #display {
    margin: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  header form {
    width: 30rem;
  }

  main {
    padding: 1rem 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  main {
    padding: 2.5rem 10rem;
  }
}